// Main colors
$primary-color: #113100;
$secondary-color: #B89A5D;

// Text
$headings-color: #1E1E1E;
$text-color: #4C4C4C;

// Backgrounds
$background-color: #F5F6F6;
$border-color: #D8D8D8;

// Overlay
$overlay: rgba(52,77,86, 0.45);

// Simple colors
$white: #ffffff;