<% var block = options.block %>
<%- block._editable %>

<div class="block_sectors">
	<div class="container block_sectors__container">
		<% if(block.heading) { %>
			<h2 class="block_sectors__heading"><%- block.heading %></h2>
		<% } %>
		<% if(plugins.richText(block.description)) { %>
			<div class="block_sectors__description wysiwyg"><%- plugins.richText(block.description) %></div>
		<% } %>
		
		<!-- LIST -->
		<div class="block_sectors__sectors">
			<% plugins.relationship(block.sectors, entry => {%>
				<a href="<%- entry.url %>" class="block_sectors__sector">
                    <div class="block_sectors__sector_image cover_image">
                        <%- plugins.lazyImg(entry.data.preview_image, {w: 400, h: 195, fit: 'crop', auto: 'format'}) %>
                    </div>
					<h3 class="block_sectors__sector_heading heading--h6"><%- entry.title %></h3>
				</a>
			<% }) %>
		</div>
	</div>
</div>