// ======================================================
// Block Styles
// ============
.examples_scrollable_navigation {
	$block: &;

	.horizontal_menu {
		
	    height: 60px;
	    width: 100%;

	    &__container {
	        position: relative;
	        display: flex;
	        justify-content: center;
	    }

	    &__content {
	        background: $text-color;
	        display: flex;
	        position: relative;
	        height: 60px;
	        overflow: auto;
	        -ms-overflow-style: none;  // IE 10+
	        scrollbar-width: none;  // Firefox
	        &::-webkit-scrollbar { 
	            display: none;  // Safari and Chrome
	        }
	    }
	    
	    &__scroll {
	        display: flex;
	        white-space: nowrap;
	    }

	    &__link {
	    	@include transitions();
	    	position: relative;
	    	display: inline-flex;
	        align-items: center;
	        vertical-align: top;
	        padding: 0 15px;
	        height: 60px;
	        background: $text-color;
	        color: white;
	        &:not(:last-child) { border-right: 1px solid $white; }
	        &:hover, &.active { background: $primary-color; }
	    }

	    &__prev, &__next {
	    	position: absolute;
	    	top: 0;
	    	z-index: 1;
	    	display: none;
	    	> a { cursor: default; }
	    	&:after {
	    	    pointer-events: none;
	    	    position: absolute;
	    	    height: 60px;
	    	    width: 30px;
	    	    content: "";
	    	    display: inline-block;
	    	    left: 60px;
	    	    top: 0;
	    	    transform: rotate(180deg);  
	    	} 
	    }

	    &__prev { left: 0; }
	    &__next { right: 0; }

	    &__arrow {
	        background: $text-color;
	        height: 60px;
	        width: 60px;
	        position: absolute;
	        right: 0;
	        display: flex;
	        align-items: center;
	        justify-content: center;
	        &--left { left: 0; }
	        &--right { right: 0; }
	        &:hover {
	            .horizontal_menu__icon { color: $primary-color; }
	        }
	    }

	    &__icon {
	        @include transitions();
	        color: $white;
	    }

	}

}