// ==================
// === PAGINATION ===
// ==================
// Index:
// 1 - General
// 2 - Arrows
// ==================


// 1 - General
// =================
$pagination_button_width: 2.4375rem; 
$pagination_button_height: 2.4375rem;
$pagination_font_weight: $weight-bold;

.pagination_block {
	list-style-type: none;
	text-align: center;
	
	// Item Wrapper
	&__item {
		align-items: center;
		background: $secondary-color;
		border-radius: 2px;
		color: $white;
		display: inline-flex;
		font-size: .8125rem;
		font-weight: $pagination_font_weight;
		height: $pagination_button_height;
		justify-content: center;
		line-height: $pagination_button_height;
		margin: 0 .3125rem;
		width: $pagination_button_width;
		@include transitions();

		&:hover,
		&.current {
			background-color: $primary-color;
		}
	} 
	
	// The actual link inside the list item
	&__link {
		color: $white;
		height: 100%;
		width: 100%;
		@include transitions();

		&:hover {
			color: $white;
		}
	}
	
// 2 - Arrows
// =================
	&__arrow {
		align-items: center;
		display: inline-flex;
		font-size: .8125rem;
		height: $pagination_button_height;
		justify-content: center;
		line-height: $pagination_button_height;
	}

	&__arrow_link {
		padding: 0 .28125rem;

		&:after {
			color: $text-color;
			display: block;
			font-family: 'icomoon';
			height: 100%;
			width: 100%;
			@include transitions();
		}

		&:hover:after {
			color: $primary-color;
		}
	}

	&__arrow--next {
		.pagination_block__arrow_link:after {
			content: '\f054';
		}
	}

	&__arrow--previous {
		.pagination_block__arrow_link:after {
			content: '\f053';
		}
	}
}