// ======================================================
// Block Styles
// ============
.layer_spacing {
	$block: &;
	display: flex;
	
	// Predefined Sizes
	&--size_small {
		height: 30px;
	}

	&--size_medium {
		height: 50px;
	}

	&--size_large {
		height: 90px;
	}

	// If it's a line
	&--line {
			&:before {
			align-self: center;
			background-color: $background-color;
		    content: '';
		    display: inline-block;
		    height: 2px;
		    margin: 20px 0;
		    text-align: center;
		    width: 100%;
		}
	}
}