<% var block = options.block %>
<%- block._editable %>

<div class="block_events_listing">
    <div class="container">

        <!-- CARDS WRAPPER -->
        <div class="block_events_listing__cards">
            <% var stories = plugins.stories({component: 'Events Module', limit: 3, paginate: true, 'order_by': 'data.start_date', 'sort': 'asc'}, event => { %>
                <!-- Single Card -->
                <a class="link_alternative__parent block_events_listing__card" href="<%- event.url %>">
                    <!-- Card Image -->
                    <div class="cover_image block_events_listing__image">
                        <img src="<%- plugins.imgix((event.data.featured_image || site.settings.events_fallback_image), { q: 60, w: 800, fm: 'jpg' }) %>" alt="<%- event.title %>">
                    </div>
                    <!-- Card Text -->
                    <% if(event.data.start_date) { %>
                        <span class="block_events_listing__text"><%- (Date.parse(event.data.start_date) - Date.parse(new Date())<0) ? 'Past Event' : 'Upcoming' %></span>
                        <span class="block_events_listing__date"><%- plugins.formatDate(event.data.start_date, 'DD MMMM YYYY') %></span>
                    <% } %>
                    <h2 class="heading--h4 block_events_listing__heading"><%- event.title %></h2>
                    <p class="block_events_listing__description"><%- event.data.excerpt %></p>
                    <span class="link_alternative block_events_listing__link">Find Out More</span>
                </a>
            <% }) %>
        </div>
    
        <!-- Pagination -->
        <% if(stories && stories.hasOwnProperty('pagination') && stories.pagination.pages.length > 1) { %>
            <%- plugins.include('snippets/pagination.html', { pagination: stories.pagination }) %>
        <% } %>
    </div>
</div>